.deleteButton {
	position:absolute;
	right: 10px;
	top: 18px;
}

.input-group-addon:first-child {
	min-width: 141px;
	text-align: right;
}
.input-group-addon: {
	background-color: #edd;
}

@media (min-width: 440px) {
	.radios {
		float: right;
		position: relative;
		top: 4px;
		padding-left: 18px;
	}
}
